@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS Config File */
/* @import 'antd/dist/antd.css'; */
@import 'react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --font-family: 'Open Sans', sans-serif !important;
  --font-size: 14px !important;
  --color: #222 !important;
  --primary-color: #004b7c;
  --primary-font-weight: 400;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #004b7c;
  border: none !important;
}

button.ant-btn-primary:hover {
  background: rgba(9, 109, 217, 0.51) !important;
}

.ant-table-thead > tr > th {
  font-weight: 400;
  font-family: var(--font-family);
}

.ant-table-tbody > tr > td {
  font-weight: 400;
  font-family: var(--font-family);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  white-space: pre;
  padding: 6px 16px !important;
}

.ant-input-group .ant-input {
  font-weight: 400;
  font-family: var(--font-family);
  font-size: var(--font-size) !important;
}

.ant-menu-title-content {
  font-family: var(--font-family);
}

.ant-table-thead > tr > th {
  background: rgb(0, 75, 124) !important;
  color: #f5f5f5 !important;
  border-bottom: 1px solid #f0f0f0 !important;
  border-right: 1px solid #f0f0f0 !important;
}

.ant-table-thead th:hover {
  background: #004b792c !important;
}

.ant-table-column-sorter {
  color: #212529;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #096dd924 !important;
}

.ant-table-column-title {
  font-family: var(--font-family);
}

.ant-table-cell {
  font-family: var(--font-family);
}

.ant-select-selection-item {
  font-family: var(--font-family);
}

.ant-table-column-sorter {
  color: #212529;
}

th.ant-table-cell:hover {
  background: rgba(9, 109, 217, 0.51) !important;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: #0d6efd21 !important;
}

.parent-wrapper .ant-select {
  width: 340px;
  max-width: 340px;
}

.anticon.anticon-edit.flex.justify-center.pb-1 {
  display: inline-block;
  position: relative;
  top: -3px;
}

/* globel table css (end) */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* header menu css (start) */

.header-wrapper {
  color: #fff !important;
  background-color: #004b7c !important;
}

.logout-wrapper svg {
  font-size: 14px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.logout-wrapper{
  display: flex;
  align-items: center;
}

span.logout-wrap {
  display: flex;
  align-items: center;
  height: 63.9px;
  padding: 0 10px;
  margin-left: 5px;
}

.logout-wrap:hover {
  background:#add8e6;
}
/* 
Browser Compartiblity */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.w-40 {
  max-width: 150px;
  width: 100%;
  font-family: var(--font-family);
  font-weight:600;
  padding-left: 0 !important;
}

.spinner {
  width: 100%;
  max-width: 1140px;
  height: 100vh;
}

.ant-spin-spinning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.ant-spin-dot {
  font-size: 40px !important;
}

.register-title {
  font-family: var(--font-family);
}

span.card-title {
  font-size: 14px;
}

.ant-card .ant-card-head {
  border-radius: 0 !important;
  border: none !important;
}

.ant-card .ant-card-body {
  border-radius: 0 !important;
  padding: 24px 12px;
}

.ant-card-cover {
  margin: 10px 20px !important;
}

.ant-card-bordered {
  border: 1px solid #004b7c;
}
.foot-input{
  width: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-table-wrapper table{
  border: 1px solid rgb(0 0 0 / 34%);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.flex.ml-auto.date-value.items-center {
  width: 37%;
}

.trainer-col {
  margin-left: 20%;
}



.ant-table-wrapper .ant-table-tbody >tr.ant-table-row:hover>th, .ant-table-wrapper .ant-table-tbody >tr.ant-table-row:hover>td, .ant-table-wrapper .ant-table-tbody >tr >th.ant-table-cell-row-hover>td.ant-table-cell-row-hover{
  background: #096dd982;
  color:#fff;
}
.ant-table-container {
  overflow: auto;
}

.foot-value{
  font-family: var(--font-family);
  font-weight:600;
  padding-left: 0 !important;
}

@media (max-width:560px){
  .header-wrapper{
    justify-content: center;
  }
}
@media (max-width:990){
  .w-40 {
    max-width: 106%;
    width: inherit;
    font-family: var(--font-family);
    font-weight: 600;
    padding-left: 0 !important;
}
.w-10\/12{
  width: 100%;
}
.md\:grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
}

@media (max-width:1020px){
  .ml-auto{
    margin-left:0;
  }
  .justify-end{
    justify-content: flex-start;
  }

  .date-input {
    text-align:left !important;
    padding: 0 !important;
}
}